<div class="container">
  <div class="login">
    <div class="centraliza">
      <mat-card class="card-login card-promo-list">
        <mat-card-header>
          <div matCardAvatar>
            <mat-icon class="header-left">account_box</mat-icon>
          </div>
          <mat-card-title id="gastando-pouco">Novo Cadastro</mat-card-title>
          <mat-card-subtitle>Crie seu usuario para o acesso</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <span>&nbsp;</span>
          <mat-card-subtitle>Mostre a todos os problemas da sua cidade</mat-card-subtitle>
        </mat-card-content>
        <form [formGroup]="form">
          <div fxLayout="column" fxLayoutAlign="center stretch">
            <div class="personal-image">
              <label class="label">
                <input type="file" formControlName="foto" (change)="changeListener($event)" accept=".jpg, .jpeg, .png"
                  #fileInput />
                <figure class="personal-figure">
                  <img src="{{imagemPerfil}}" class="personal-avatar" alt="avatar">
                  <figcaption class="personal-figcaption">
                    <img src="/assets/camera-white.png">
                  </figcaption>
                </figure>
              </label>
              <mat-label *ngIf="form.get('foto').hasError('required') && !arquivoImg">
                Imagem de perfil
              </mat-label>
            </div>
            <mat-form-field class="formbase" appearance="outline">
              <mat-label>Nome</mat-label>
              <input autocomplete="name" matInput placeholder="Insira seu Nome" type="text" required
                formControlName="name">
              <mat-error *ngIf="form.get('name').hasError('required')">
                Nome é
                <strong>obrigatorio</strong>
              </mat-error>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field class="formbase" appearance="outline">
              <mat-label>Cidade</mat-label>
              <input autocomplete="name" matInput placeholder="Insira o nome da Cidade" type="text" required
                formControlName="cidade">
              <mat-error *ngIf="form.get('cidade').hasError('required')">
                Cidade é
                <strong>obrigatorio</strong>
              </mat-error>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field class="formbase" appearance="outline">
              <mat-label>Email</mat-label>
              <input autocomplete="email" matInput placeholder="Insira seu email" type="email" required
                formControlName="email">
              <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                Entre com um email valido
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('required')">
                Email é
                <strong>obrigatorio</strong>
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="formbase" appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput type="password" placeholder="Digite sua senha" required formControlName="pass">
              <mat-icon matSuffix>vpn_key</mat-icon>
              <mat-error *ngIf="form.get('pass').hasError('required')">
                Senha é
                <strong>obrigatorio</strong>
              </mat-error>
              <mat-error *ngIf="form.get('pass').hasError('minlength')">
                Senha menor que 6 caracteres
              </mat-error>
            </mat-form-field>


            <div flex="100">
              <button class="button-login" mat-raised-button flex="100" color="primary" (click)="registrar()">
                <mat-icon>person_add</mat-icon> Registrar
              </button>
            </div>
          </div>
        </form>
        <mat-card-actions align="center">
          <div class="login-button">
            <p class="ou-login">ou</p>
          </div>
          <div class="login-button centraliza-label">
            <a class="button-login" mat-raised-button flex="100" [routerLink]="[ '/login' ]">Ja possui uma conta ?</a>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>

</div>