<mat-card class="controle-card">
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-title>Gustavo Marques</mat-card-title>
    <mat-card-subtitle>Rua Santos Dumont, Centro</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content
    ><p>
      Hoje encontrei um buraco na Rua Santos Dumont, bem em frente ao Fórum. O
      pior é que, um carro que estava passando pela rua, acabou com o pneu
      rasgado! Um absurdo
    </p></mat-card-content
  >
  <img
    matCardImageMedium
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <img
    matCardImageMedium
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <img
    matCardImageMedium
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <img
    matCardImageMedium
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <img
    matCardImageMedium
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />

  <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card>
