<mat-card class="controle-card">
  <mat-card-header>
    <img mat-card-avatar [src]="postagem.usuario.photoURL" [alt]="postagem.usuario.displayName" />
    <mat-card-title>{{postagem.usuario.displayName}}</mat-card-title>
    <mat-card-subtitle>{{postagem.post_loc}}</mat-card-subtitle>
    <span style="position: absolute; right: 0; padding-right: 20px;">{{postagem.post_date | date}}</span>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div>
        <p>
          {{postagem.post_text}}
        </p>
      </div>
    </div>
  </mat-card-content>
  <div class="slide-controler">
    <swiper [config]="config" #swipper>
      <div class="swiper-wrapper" #swipperrapper>
        <div *ngFor="let item of postagem.post_image; let i; of: index" class="swiper-slide">
          <img class="imagem-carrosel" [src]="item" #swipperitem />
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </swiper>
  </div>
  <div>
    <mat-card-content>
      <mat-card-title>Todos os comentarios</mat-card-title>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let item of postagem.comentarios">
          <app-comentario [comentario]="item.com_text"></app-comentario>
        </div>
      </div>
    </mat-card-content>
  </div>
  <mat-card-actions>

    <button mat-raised-button color="primary">Like {{postagem.post_like}} </button>
    <mat-icon>favotite</mat-icon>
  </mat-card-actions>
</mat-card>