<!--The content below is only a placeholder and can be replaced.-->
<ngx-loading-bar></ngx-loading-bar>
<mat-toolbar class="example-header">
  <span>
    <img src="/assets/logo.png"
      style="background-color: aliceblue; max-height: 50px; width: auto; border-radius: 10%;" />
  </span>
  <span>
    <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active">
      Em Alta
    </button>
  </span>
  <span class="example-spacer"></span>
  <button *ngIf="api && api.firebaseUser.uid" mat-mini-fab aria-label="Example icon-button with a heart icon"
    color="primary" [routerLink]="['/post']" routerLinkActive="router-link-active">
    <mat-icon>add</mat-icon>
  </button>
  <span *ngIf="api && api.firebaseUser.uid">
    <button mat-button>
      <mat-icon>notification_important</mat-icon>
    </button>
  </span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_box</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <mat-card *ngIf="api && api.firebaseUser.uid">
        <mat-card-header *ngIf="api.firebaseUser.uid">
          <img mat-card-avatar [src]="api.firebaseUser.photoURL" />
          <mat-card-title>
            {{ api.firebaseUser.displayName }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ api.firebaseUser.email }}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <span *ngIf="api && api.firebaseUser.uid">
        <button mat-menu-item>
          <mat-icon>settings_applications</mat-icon>
          <span>Configuraçoes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>apps</mat-icon>
          <span>Sobre</span>
        </button>
        <button mat-menu-item  (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>sair</span>
        </button>
      </span>
      <span *ngIf="api && !api.firebaseUser.uid">
        <button mat-menu-item [routerLink]="['/login']">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item [routerLink]="['/signup']">
          <mat-icon>person_add</mat-icon>
          <span>Criar Login</span>
        </button>
      </span>
    </mat-menu>
  </span>
</mat-toolbar>
<div id="rotas">
  <router-outlet></router-outlet>
</div>
