<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="example-header">
  <span><img src="/assets/logo.png"
      style="background-color: aliceblue; max-height: 50px; width: auto; border-radius: 10%;"></span>
  <span><button mat-button>Tapa Buraco</button></span>
  <span><button mat-button>Em Alta</button></span>
  <span class="example-spacer"></span>
  <span><button mat-button>
      <mat-icon>notification_important</mat-icon>
    </button></span>
  <span><button mat-button>
      <mat-icon>account_box</mat-icon>
    </button></span>
</mat-toolbar>
<div id="rotas">
  <router-outlet></router-outlet>
</div>