/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ngx-toastr/toastr";
@import "~swiper/css/swiper.min.css";
body,
html {
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  line-height: 1;
  /* background-size: auto; */
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

mat-toolbar.example-header {
  position: fixed;
  background-color: #111;
  color: #fff;
  top: 0;
  z-index: 999;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  position: absolute;
  top: 60px !important;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding-right: 10;
}

#rotas {
  min-height: calc(100vh - 64px);
}

@media (max-width: 600px) {
  #rotas {
    min-height: calc(100vh - 54px) !important;
  }
  .example-container {
    top: 54px !important;
  }
  .tamanho-maximo {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  agm-map {
    height: 180px !important;
  }
  .wit-250 {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
  }
}
.tamanho-maximo {
  margin-top: 20px;
  margin-left: 20px;
}
.mat-content {
  align-items: center !important;
}
.mat-slider {
  padding: 0 !important;
}

.example-headers-align .mat-expansion-panel-header {
  padding: 0 16px !important;
}
.example-headers-align .mat-content {
  align-items: center !important;
  white-space: nowrap !important;
}
.example-headers-align .mat-expansion-panel-header-description {
  margin-right: 0 !important;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  font-size: 16px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.personal-image {
  text-align: center;
  margin-bottom: 30px;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.personal-avatar {
  cursor: pointer;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}
.centraliza-label {
  text-align: center;
}
#form-card-left-top {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 15px;
}
@media (max-width: 960px) {
  #form-card-left-top {
    width: auto !important;
    padding: 10px;
  }
}
@media (max-width: 599px) {
  #form-card-left-top {
    width: auto !important;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }
  .pading-5-left {
    padding-left: 0 !important;
  }
}
.personal-image-promo {
  text-align: center;
}
.personal-image-promo input[type="file"] {
  display: none;
}
.personal-figure-promo {
  position: relative;
  /* width: 120px;
  height: 120px; */
  width: 100%;
  margin: 0 auto;
}
.padding-20 {
  padding: 20px;
}
.windth-100 {
  width: 100%;
}
agm-map {
  height: 300px !important;
  width: 100% !important;
}
.wit-250 {
  max-width: 300px;
  width: 100%;
  padding: 10px 0 10px 10px;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.postagem-thumbnail-promo,
.postagem-exemplo-promo img {
  margin: 0 auto;
  width: 100%;
}
.input-default {
  display: none;
}

.input-default + label {
  font-size: 1.25em;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  max-width: 200px;
  cursor: pointer;
}
.crop-preview.local {
  width: 100%;
}
.pading-5-left {
  padding-left: 10px;
}
.botao-caption-promo {
  height: 100%;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
input.example-right-align {
  -moz-appearance: textfield;
}
.altura-init {
  padding-top: 20px;
}
